footer{
    background-color: var(--bg-color-services);
}

.services{
    height: auto;
    
    text-align: center;
    padding: 2rem;
}

.text-services p{
    margin-bottom: 1rem;
}

.text-services span{
    color: var(--text-span-title) ;
    font: var(--subtitle-mobile);
}

.text-services h3{
    font: var(--title-md-mobile);
    color: var(--text-color-primary);
    margin-bottom: 2rem;
}

.services-cards{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.card-img{
    width: 30rem;
    height: auto;
    padding: 1rem;

    margin-bottom: 1vh;

    border: 1px solid var(--bg-color-card);
    border-radius: 1.5rem;

}

.card-img img{
    width: 8rem;
}

.services-cards h3{
    font: var(--title-sm-mobile);
    color: var(--text-color-primary);
    margin-bottom: 0.5rem;
}

.services-cards p{
    font: var(--text-sm-mobile);
    color: var(--text-color-secondary);
}

/*---------------------------------CONTATOS-----------------------*/

.contacts{
    background-image: var(--bg-img-contacts);
    background-size: cover;
    padding: 4rem 2rem;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.text-contacts{
    text-align: center;
}

.text-contacts p{
    font: var(--text-sm-mobile);
    margin-bottom: 1rem;
}

.text-contacts span{
    color: var(--text-span-contact);
    font: var(--subtitle-mobile);
   
}

.text-contacts h3{
    font: var(--title-md);
    color: var(--text-color-primary);
    margin-bottom: 1rem;
}

.list-contacts{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-bottom: 2rem;

    width: 70vw;
}

.list-contacts li{
    list-style: none;  
}

.list-contacts a{
    display: flex;
    justify-content: space-between;       
    align-items: center;

  height: 5rem; 
  background-color: var(--bg-color-tag); 
  padding: 0 1.5rem; 

  text-decoration: none;
  color: var(--text-color-primary); 
  font: var(--text-md); 
  border-radius: 8px; 
}

.list-contacts a .link-content{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    
}