footer{
    background-color: var(--bg-color-services);
}

.services{
    height: 70vh;
    
    text-align: center;
}

.text-services span{
    color: var(--text-span-title) ;
    font: var(--subtitle);
}

.text-services h3{
    font: var(--title-md);
    color: var(--text-color-primary);
    margin-bottom: 1rem;
}

.services-cards{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.card-img{
    width: 20rem;
    height: auto;
padding: 1rem;

    margin-bottom: 1vh;

    border: 1px solid var(--bg-color-card);
    border-radius: 1.5rem;

}

.card-img img{
    width: 4rem;
    

}
.contacts{
    background-image: var(--bg-img-contacts);

    display: flex;
    flex-direction: column;
    align-items: center;
}

.text-contacts{
    text-align: center;
    margin: 2rem 0;
}

.text-contacts p{
        font: var(--subtitle);
}

.text-contacts span{
    color: var(--text-span-contact);
    margin-bottom: 1rem;
}

.text-contacts h3{
    font: var(--title-md);
    color: var(--text-color-primary);
    margin-bottom: 1rem;
}

.list-contacts{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-bottom: 2rem;

    width: 70vw;
}

.list-contacts li{
    list-style: none;  
}

.list-contacts a{
    display: flex;
    justify-content: space-between;       
    align-items: center;

  height: 5rem; /* A altura fixa vem para o container flex */
  background-color: var(--bg-color-tag); /* A cor de fundo vem para cá */
  padding: 0 1.5rem; /* Espaçamento interno horizontal */    

  text-decoration: none; /* Remove o sublinhado azul */
  color: var(--text-color-primary); /* Garante que o texto tenha a cor certa */
  font: var(--text-md); /* Movemos a fonte para cá */
  border-radius: 8px; /* Bônus: deixa os cantos bonitos */
}

.list-contacts a .link-content{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    
}