/*Reset CSS*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    /*background-img*/
    --bg-img-intro: url('../assets/images/background/Background_Intro.png');
    --bg-img-contacts: url('../assets/images/background/Background_Contacts.png');

    /*Background Colors*/
    --bg-color-projects: #16181D;  /*gray-500*/
    --bg-color-services: #0D0E11;   /*gray-600*/
    --bg-color-tag: #292C34; /*gray-400*/
    --bg-color-card: #878EA1; /*gray-300*/

    /*Text Colors*/
    --text-color-primary: #E2E4E9; /*gray-100*/
    --text-color-secondary: #D1D1D1; /*gray-200*/
    /*Accent Colors*/
    --text-span-title: #FF6B6B;   /*red span*/
    --text-span-contact: #BB72E9; /*purple span*/
    --text-p-about: #E0E0E0;
    
    /*Fonts*/   
    /*Asap*/
    --title-lg: 800 56px/120% 'asap', sans-serif;
    --title-md: 800 24px/120% 'asap', sans-serif;
    --title-sm: 800 16px/120% 'asap', sans-serif;

    /*Inconsolata*/
    --subtitle: 600 20px/120% 'inconsolata', monospace;

    /*Maven Pro*/
    --text-md: 400 16px/140% 'maven pro', sans-serif;
    --text-sm: 400 14px/140% 'maven pro', sans-serif;

    
}

body{
    background-color: #0D0E11;
    color: var(--text-color-primary);
    font-family: 'Maven Pro', sans-serif;
}