*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --bg-img-intro: url('../assets/images/background/Background_Intro.png');
    --bg-img-contacts: url('../assets/images/background/Background_Contacts.png');
    
}