/*Reset CSS*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;

    scroll-behavior: smooth;
}

:root{
    /*background-img*/
    --bg-img-intro: url('../assets/images/background/Background_Intro.png');
    --bg-img-contacts: url('../assets/images/background/Background_Contacts.png');

    /*Background Colors*/
    --bg-color-projects: #16181D;  /*gray-500*/
    --bg-color-services: #0D0E11;   /*gray-600*/
    --bg-color-tag: #292C34; /*gray-400*/
    --bg-color-card: #878EA1; /*gray-300*/

    /*Text Colors*/
    --text-color-primary: #E2E4E9; /*gray-100*/
    --text-color-secondary: #D1D1D1; /*gray-200*/
    --text-color-tertiary: #878EA1; /*gray-300*/
    /*Accent Colors*/
    --text-span-title: #FF6B6B;   /*red span*/
    --text-span-contact: #BB72E9; /*purple span*/
    --blue-hover: #3996DB;
    
    /*Fonts*/   
    /*Asap*/
    --title-lg: 800 5rem/120% 'asap', sans-serif;
    --title-md: 800 2.5rem/120% 'asap', sans-serif;
    --title-sm: 800 2rem/120% 'asap', sans-serif;

    /*Inconsolata*/
    --subtitle: 600 2rem/120% 'inconsolata', monospace;

    /*Maven Pro*/
    --text-md: 400 1.6rem/140% 'maven pro', sans-serif;
    --text-sm: 400 1.4rem/140% 'maven pro', sans-serif;       
}   

 @media screen and (min-width: 768px){
    :root{
        /*Asap*/
        --title-lg: 800 5.6rem/120% 'asap', sans-serif;
        --title-md: 800 2.4rem/120% 'asap', sans-serif;
        --title-sm: 800 1.6rem/120% 'asap', sans-serif;

        /*Inconsolata*/
        --subtitle: 600 2rem/120% 'inconsolata', monospace;

        /*Maven Pro*/
        --text-md: 400 1.6rem/140% 'maven pro', sans-serif;
        --text-sm: 400 1.4rem/140% 'maven pro', sans-serif;
    } 
}

@media screen and (min-width: 1024px){
    :root{
        /*Asap*/
        --title-lg: 800 5.6rem/120% 'asap', sans-serif;
        --title-md: 800 2.4rem/120% 'asap', sans-serif;
        --title-sm: 800 1.6rem/120% 'asap', sans-serif;

        /*Inconsolata*/
        --subtitle: 600 2rem/120% 'inconsolata', monospace;

        /*Maven Pro*/
        --text-md: 400 1.6rem/140% 'maven pro', sans-serif;
        --text-sm: 400 1.4rem/140% 'maven pro', sans-serif;
    } 
}



body{
    background-color: #16181D;
    color: var(--text-color-primary);
    font-family: 'Maven Pro', sans-serif;
}