/*MOBILE FIRST*/
header{
    background-image: var(--bg-img-intro);
    background-size: cover;
    height: 95vh;   

    margin-bottom: 5rem;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    text-align: center;    
    padding: 4rem 2rem 0; 
}

.about{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    text-align: center;    
}

.picture{
    position: relative;
    display: inline-block;
    margin-bottom:2rem;

}
.picture > img{
    width: 12rem;
    height: 12rem;
    border-radius: 50%;    
    object-fit: cover;
    
}

#picture-profile{
    border: 4px solid var(--text-span-title);
}

.picture img + img{
    position: absolute;
    height: 5rem;
    width: 5rem;
    top: 70%;
    left: 50%;
    
}

.text-intro{
    font: var(--subtitle-mobile);
    color: var(--text-color-secondary);
    margin-bottom: 8px;
}

.text span{
    color: var(--text-span-title);
}

.text h1{
    font: var(--title-lg-mobile);
    color: var(--text-color-primary);
    margin-bottom: 2rem;
}

.text .text-about{
    font: var(--text-md);
    color: var(--text-color-tertiary);
    margin-bottom: 3rem;
}

.tech-stack-list{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;
    padding: 0;
    margin: 0;
    margin-bottom: 3rem; ;
    list-style: none;
}

.tech-stack-list button{
    display: flex;
    align-items: center;
    gap: 0.5rem;

    height: 5rem;
    width: 12rem;

    background-color: var(--bg-color-tag);
    border: 1rem;
    border-radius: 3rem;
    padding: 1rem 1rem;

    font: var(--text-md);
    color: var(--text-color-secondary);

    cursor: pointer;
    transition: all 0.3s ease;
}

.tech-stack-list button img{
    width: 2rem;
    height: 2rem;
}

#html-icon img{
    filter: brightness(0) saturate(100%) invert(39%) sepia(83%) saturate(749%) hue-rotate(357deg) brightness(95%) contrast(92%);
}

#css-icon img{
    filter: brightness(0) saturate(100%) invert(27%) sepia(76%) saturate(3163%) hue-rotate(201deg) brightness(95%) contrast(101%);
}

#js-icon img{
     filter: brightness(0) saturate(100%) invert(85%) sepia(76%) saturate(2479%) hue-rotate(4deg) brightness(105%) contrast(104%)
}

#react-icon img{
    filter: brightness(0) saturate(100%) invert(46%) sepia(73%) saturate(2643%) hue-rotate(169deg) brightness(95%) contrast(101%);
}

#nodejs-icon img{
    filter: brightness(0) saturate(100%) invert(40%) sepia(72%) saturate(441%) hue-rotate(81deg) brightness(95%) contrast(90%);
}

@media (min-width: 768px) {
    header{
        height: 100vh;
    }

    .container{
        height: 90vh;    
        padding: 0 2rem 0;
   
    }

    .picture{
        margin-bottom: 5.6rem;
    }    

    .text{
        width: 68rem;
        
        display: flex;
        flex-direction: column;
        align-items: center;

        margin-bottom: 5rem;

    }

    .text-about{
        width: 68rem;
    }

    .tech-stack-list{
        grid-template-columns: repeat(3, 1fr);

        margin-bottom: 5rem;
    }
}   

@media (min-width: 1024px) {
    header{
        height: 100vh;
        width: 100vw;
    }

    .container{
        height: 90vh;    
        width: 100vw;
        gap: 5rem;

        padding: 0 2rem 0;
  
    }

    .about{
        width: auto;
        gap: 5rem;
    }

    .picture{
        width: 68rem;
        margin-bottom: 4rem;
    }    

    .text{
        width: 68rem;
        
        display: flex;
        flex-direction: column;
        align-items: center;

        margin-bottom: 2rem;

    }

    .text-intro{
        font: var(--subtitle);  
    }

    .text h1{
        font: var(--title-lg);
        color: var(--text-color-primary);
        margin-bottom: 2rem;
    }

    .text-about{
        width: 68rem;
    }

    .tech-stack-list{
        display: flex;
        flex-direction: row;
        margin-bottom: 5rem;
    }

    
}   



