/*MOBILE FIRST*/
header{
    background-image: var(--bg-img-intro);
    background-size: cover;
    height: 100vh;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    padding: 2rem
    
}
.picture{
    position: relative;
    display: inline-block;
}
.picture > img{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom:2rem;
}

.picture img + img{
    position: absolute;
    height: 50px;
    width: 50px;
    top: 50%;
    left: 50%;
    
}

.text-intro{
    font: var(--subtitle);
    color: var(--text-color-secondary);
    margin-bottom: 8px;
}

.text span{
    color: var(--text-span-title);
}

.text h1{
    font: var(--title-lg);
    color: var(--text-color-primary);
    margin-bottom: 1rem;
}

.text .text-about{
    font: var(--text-md);
    color: var(--text-p-about);
    max-width: 400px;
    margin-bottom: 2rem;
}

.tech-stack-list{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    padding: 0;
    margin: 0;
    margin-bottom: 2rem; ;
    list-style: none;
}

.tech-stack-list button{
    display: flex;
    align-items: center;
    gap: 0.5rem;

    height: 3rem;
    width: 7.5rem;

    background-color: var(--bg-color-tag);
    border: 1PX;
    border-radius: 16px;
    padding: 0.5rem 1rem;

    font: var(--text-sm);
    color: var(--text-color-secondary);

    cursor: pointer;
    transition: all 0.3s ease;
}

.tech-stack-list button img{
    width: 20px;
    height: 20px;
}

#html-icon img{
    filter: brightness(0) saturate(100%) invert(39%) sepia(83%) saturate(749%) hue-rotate(357deg) brightness(95%) contrast(92%);
}

#css-icon img{
    filter: brightness(0) saturate(100%) invert(27%) sepia(76%) saturate(3163%) hue-rotate(201deg) brightness(95%) contrast(101%);
}

#js-icon img{
     filter: brightness(0) saturate(100%) invert(85%) sepia(76%) saturate(2479%) hue-rotate(4deg) brightness(105%) contrast(104%)
}

#react-icon img{
    filter: brightness(0) saturate(100%) invert(46%) sepia(73%) saturate(2643%) hue-rotate(169deg) brightness(95%) contrast(101%);
}

#nodejs-icon img{
    filter: brightness(0) saturate(100%) invert(40%) sepia(72%) saturate(441%) hue-rotate(81deg) brightness(95%) contrast(90%);
}

