main{
    background-color: var(--bg-color-projects);
    width: auto;

    margin-bottom: 2rem;
}

#projects{
    padding: 0 2rem;
}

.text-projects{
    text-align: center;    
}

.text-projects p{
    font: var(--text-md-mobile);
    color: var( --text-color-primary);
}


.text-projects span{
    color: var(--text-span-title);
    font: var(--subtitle-mobile);
}

.text-projects p{
    max-width: 60rem;
    margin: 1rem auto 2rem auto;
}

.cards-grid{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.cards-grid .cards{
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: var(--bg-color-tag);
    border-radius: 2rem;
    padding: 2rem;
}

.cards img{
    width: 35rem;
    height: 16rem;
    object-fit: cover;
    border-radius: 1rem;
}

.cards h3{
    font: var(--title-sm-mobile);
    color: var(--text-color-primary);
    margin: 1rem 0;
    justify-content: center;
}

.cards p{
    font: var(--text-sm-mobile);
    color: var(--text-color-secondary);
    margin-bottom: 1.5rem;
}

.cards-button{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.cards-button a{
  text-decoration: none;
  font: var(--text-sm);
  padding: 0.5rem 1rem;
  
  background-color: transparent; 
  
  border: 1px solid var(--text-color-secondary); 
  color: var(--text-color-secondary);
  border-radius: 0.8rem; 

  cursor: pointer;
  transition: all 0.3s ease;
}

.cards-button a:hover {
  background-color: var(--text-color-secondary);
  color: var(--bg-color-card);
  transform: translateY(-3px); 
}