main{
    background-color: var(--bg-color-projects);
    width: auto;
}

.projects p{
    font: var(--text-md);
    color: var(--text-p-about);
}

.text-projects{
    text-align: center;    
}

.text-projects span{
    color: var(--text-span-title);
    font: var(--subtitle);
}

.text-projects p{
    max-width: 600px;
    margin: 1rem auto 4rem auto;
}

.cards-grid{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.cards-grid .cards{
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: var(--bg-color-tag);
    padding: 1rem;
}

.cards img{
    width: 24rem;
    height: 14rem;
    object-fit: cover;
    border-radius: 10px;
}

.cards h3{
    font: var(--title-sm);
    color: var(--text-color-primary);
    margin: 1rem 0;
    justify-content: center;
}

.cards p{
    margin-bottom: 1rem;
}